<h1><%= @week.week_of %></h1>
<h1><%= @week.sales %></h1>
<h1><%= @week.labor %></h1>

<%require 'pry'; binding.pry%>


<% if @week.days.any? %>
<h4> here are the days for this week</h4>

<% @week.days.each do |day| %>
<ul>
  <li>
    <%= link_to day.date, store_week_day_path(@week, day) %>
  </li>
</ul>
<% end %>
<% else %>
<p> no days </p>
<% end %>
